body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.btn {
  text-transform: uppercase;
}

.req {
  padding: 10px;
  margin: 10px;
  float: none;
}

.txtarea {
  height: 25em;
  width: 50em;
}

a {
  text-decoration: auto !important;
}

.rdw-editor-main {
  height: 25em;
  background-color: aliceblue;
}
